<!-- Modal -->
<div class="modal" id="appinfoModal" >
  <div role="document" style="margin: 1.75rem auto; min-width:804px; max-width:48%"> <!-- class="modal-dialog"  -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appinfoModalLabel">Unknown</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning"><small>
          <i class="fa fa-exclamation-triangle"></i>
          WARNING: Info auto parsed and can contains mistakes
        </small></div>
        <div class="text-center">
          <div id="appinfoSlider" class="cbp-fwslider">
            <ul></ul>
          </div>
        </div>
        <div id="appinfoGenres" class="text-center"></div>
        <br/>
        <div id="appinfoShortDesc"></div>
        <br/>
        <div><b>Supported laguages:</b> <span id="supportedLanguages">Unknown</span></div>
        <hr/>
        <b>Description:</b>
        <br/>
        <div id="appinfoText" class="text-center"></div>
        <div id="appinfoAbout" class="text-center"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


  <link rel="stylesheet" type="text/css" href="css/component.css" />
  <script src="js/modernizr.custom.js"></script>
  <script src="js/jquery.cbpFWSlider.min.js"></script>
<script>
  console.log('ONLOAD APPINFO MODAL');
  const appinfoSlider = $('#appinfoSlider');
  $('#appinfoModal').on('hidden.bs.modal', () => {
    console.log('appinfo closed');
    $('#appinfoGenres')[0].innerHTML = '';
    $('#appinfoModalLabel')[0].innerHTML = '';
    $('#appinfoText')[0].innerHTML = '';
    $('#appinfoAbout')[0].innerHTML = '';
    appinfoSlider[0].innerHTML = '';
  })

  ipcRenderer.removeAllListeners('app_info');
  ipcRenderer.on('app_info', (event, arg) => {
    $('#processingModal').modal('hide');
    console.log('app_info received');
    // console.log('app_info received', arg);
    if (!arg || !arg.success)  return console.log(arg);
    const data = arg.data;
    if (!data)  return;


    if (data.name) $('#appinfoModalLabel').text(data.name);
    if (data.short_description) $('#appinfoShortDesc').html(data.short_description);
    if (data.detailed_description) $('#appinfoText').html(data.detailed_description);
    if (data.about_the_game) $('#appinfoAbout').html(data.about_the_game);
    if (data.supported_languages) $('#supportedLanguages').html(data.supported_languages.replace('русский', '<b>русский</b>'));
    if (data.genres) {
      for (const genre of data.genres) {
        const genre_text = genre.description || genre;
        if (['Бесплатно', 'Free'].includes(genre_text)) continue;
        $('#appinfoGenres').append(`<span class="badge badge-secondary">${genre_text}</span> `);
      }
    }

    let slides = '<ul>';
    if (data.header_image) {
      slides+= `<li><img src="${data.header_image}" width="800" style="max-height: 405px;" alt="header"/></li>`;
    }

    if (data.movies) {
      for (const movie of data.movies) {
        if (!movie.mp4) continue;
        slides+= `<li><video width="600" style="max-height: 360px;" controls><source src="${movie.mp4['480']}" type="video/mp4"></video></li>`;
      }
    }

    if (data.screenshots) {
      for (const screenshot of data.screenshots) {
        slides+= `<li><img src="${screenshot.path_thumbnail}" width="800" style="max-height: 405px;" alt="${screenshot.id}" /></li>`;
      }
    }

    slides+= '</ul>';

    appinfoSlider[0].innerHTML = slides;
    appinfoSlider.cbpFWSlider({current: 0});
    $('#appinfoModal').modal('show');
  });

</script>