<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body" id="confirmModalBody">
        <div id="confirmModalInstallCont" style="display: none">
          <div class="alert alert-warning">
            <i class="fa fa-exclamation-triangle"></i>
            WARNING: Folder contain the install instructions, auto sideloading maybe not fully
          </div>
          <b>Install instructions:</b>
          <pre id="confirmModalInstallDesc" class="card bg-dark" style="white-space: pre-wrap;padding: 8pt;"></pre>
          <hr/>
        </div>
        <div id="confirmModalMessage"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" id="confirmSideloadButton" class="btn btn-primary disabled">Yes</button>
      </div>
    </div>
  </div>
</div>

<script>
  //setup listener for confirm btn, takes path form data dir, and sends start_sideload
  $id('confirmSideloadButton').on('click', function(){
    $id('confirmModal').modal('hide');
    //
    data = {path: $id('confirmSideloadButton').data('path'), update: $id('confirmSideloadButton').data('update')}
    loadInclude('modals/sideload.twig', 'sideloadmodaldiv', () => {
      ipcRenderer.send('start_sideload', data);
    });
  });


  ipcRenderer.removeAllListeners('ask_sideload');
  ipcRenderer.on('ask_sideload', (event, arg) => {
    console.log('ask_sideload msg came ! ', arg);
    $id('processingModal').modal('hide');
    const { success, install, update } = arg;
    if (!success) return;

    const lastslashindex = install.path.lastIndexOf('/');
    const file= install.path.substring(lastslashindex  + 1);

    $id('confirmSideloadButton').data('path', install.path);
    $id('confirmSideloadButton').data('update', !!update);
    $id('confirmModalMessage').html('Do you want to sideload: <br><b>' + file + '</b>');
    if (install.install_desc) {
      $id('confirmModalInstallDesc').html(install.install_desc);
      $id('confirmModalInstallCont').show();
    }
    else {
      $id('confirmModalInstallCont').hide();
    }

    $id('confirmModal').modal('show');
  });
</script>