<div class="modal" id="donateModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="donateModalLabel">Donate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body text-center" id="donateModalBody">
        Your donation will motivate me to work on lot of new features.
        <br>Thanks and please don't forget add your nickname at description
        <hr>
        <a class="btn btn-outline-info" onclick="shell.openExternal('https://paypal.me/1xyst')"><i class="fa fa-paypal"></i> PayPal</a>
        <a class="btn btn-outline-light" onclick="shell.openExternal('https://yoomoney.ru/to/410011725792647')"><i class="fa fa-money"></i> YooMoney</a>
        <hr>
        <img class="mb-2" alt="bitcoin-qr" src="./img/qrbtc.jpg">
        <br><input readonly="readonly" value="bitcoin:17P4buoVXLEzcLRBNfw6VUn5GbpENAgZKy" size="38" onclick="copyInput(this)">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  ipcRenderer.send('change_config', { key: 'donShown', val: Date.now() });
  $id('donateModal')
  .modal('show')
  .on('hidden.bs.modal', () => {
    console.log('donateModal closed');
    id('donatemodaldiv').innerHTML = '';
  });
</script>