<div class="modal" id="processingModal" tabindex="-1" role="dialog" aria-labelledby="processingModalLabel"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header" style="display:block">
        <h5 class="modal-title" id="processingModalLabel"><i id="processingRefresh" class="fa fa-refresh fa-spin"></i> Processing</h5>
      </div>
      <div class="modal-body" id="processingBody">
        Please wait..
      </div>
      <div class="modal-footer" id="processingFooter">
      </div>
    </div>
  </div>
</div>
