<div class="modal fade" id="promptModal" tabindex="-1" role="dialog" aria-labelledby="promptModalLabel"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="promptModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="promptModalMessage"></div>
        <input class="form-control" id="promptModalInput"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" id="promptModalButton" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

<script>
  async function promptDialog(title, message, inputValue) {
    id('promptModalLabel').innerHTML = title;
    id('promptModalMessage').innerHTML = message;
    const input = id('promptModalInput');
    input.value = inputValue;

    const modal = $id('promptModal');
    modal.modal('show');

    return new Promise((res, rej) => {
      id('promptModalButton').onclick = () => {
        res(input.value);
        modal.modal('hide');
      }
      modal.on('hide.bs.modal', (e) => {
        return res(null);
      });
    });
  }
</script>