<div class="card text-light bg-primary">
  <div class="card-header">
    <h2 class="pull-left mb-0">
      <a class="btn btn-primary" onclick="shell.openPath($('#path').text())" title="Open by filebrowser"> <i class="fa fa-folder-open"></i> </a>
      <span id="path"></u></span>
    </h2>
    <h2 class="pull-right mb-0">
      <a class="adbdev btn btn-primary" onclick="getDir($('#path').text(), true)"> <i id="refreshfolderbtn" class="fa fa-refresh"></i> Refresh</a>
    </h2>
  </div>
  <div class="card-body">
    <div class="card-text">

      <div id="searchformdiv"></div>
      <br>


      <table class="table table-striped table-hover" id="listTableStart">
        <tbody>
        </tbody>
      </table>
      <div id="browseCardBody" class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
      </div>
      <table class="table table-striped table-hover" id="listTable">
        <tbody>
        </tbody>
      </table>
      <table class="table table-striped table-hover" id="listTableEnd">
        <tbody>
        </tbody>
      </table>

    </div>
  </div>
</div>


<script>
  $('#processingModal').modal('show');
  loadInclude('searchform.twig', 'searchformdiv');
</script>