{% extends 'layout.twig' %}

{% block onload %}
  {{ parent() }}
<script>
    $(document).ready(function() {
        console.log('ONLOAD INDEX');
        console.log('sending check_deps')

        loadInclude('device_info.twig', 'device_infoDiv');

        ipcRenderer.send('check_deps', 'bla');

        ipcRenderer.on('check_deps', (event, arg) => {
            console.log('check_deps msg came: ', arg); // prints "ping"
            if (arg.success) {
                $('#adbCheckIndicator').removeClass('badge-danger');
                $('#adbCheckIndicator').addClass('badge-success');
                $('#adbCheckIndicator').html(`<i  id="mountrefresh" class="fa fa-check-circle-o"></i> ADB Installed.`)
                $('#aaptCheckIndicator').removeClass('badge-danger');
                $('#aaptCheckIndicator').addClass('badge-success');
                $('#aaptCheckIndicator').html(`<i  id="mountrefresh" class="fa fa-check-circle-o"></i> AAPT Installed.`)
                $('#rcloneCheckIndicator').removeClass('badge-danger');
                $('#rcloneCheckIndicator').addClass('badge-success');
                $('#rcloneCheckIndicator').html(`<i  id="mountrefresh" class="fa fa-check-circle-o"></i> RCLONE Installed.`)
            }
        });

        {% if currentConfiguration.autoMount %}ipcRenderer.send('mount', 'foo');{% endif %}

    });

</script>
{% endblock %}

{% block body %}

<div id="mainbody">

    <div id="device_infoDiv"></div>

    <div class="card text-white bg-primary">
        <div class="card-header">
            <h3>
                <i class="fa fa-list-ul" aria-hidden="true"></i> System check
            </h3>
        </div>
        <div class="card-body">
            <h3>
                Platform Detected: {{ platform }}
            </h3>
            <h3>
                Temp Dir Detected: {{ tmpdir }}
            </h3>
            <h3>
                Mount Dir Detected: {{ mountFolder }}
            </h3>
            <h3>
                <div class="badge badge-danger" id="adbCheckIndicator">ADB not found | PLEASE INSTALL ADB GLOBALLY</div>
            </h3>
            <h3>
                <div class="badge badge-danger" id="rcloneCheckIndicator">RCLONE not found | PLEASE INSTALL RCLONE GLOBALLY</div>
            </h3>
                {# <h3><div class="badge badge-danger" id="aaptCheckIndicator">AAPT not found | PLEASE INSTALL ADB GLOBALLY</div></h3>
                #}
            </h3>
        </div>
    </div>



</div>
{% endblock %}
