<form name="f1" id="f1" action="">
  <div class="input-group">
    <input class="form-control" placeholder="Type a word and find occurrences using [ENTER]" type="text"
         name="t1" value="" style="border: 1px solid #000" />
    <div class="input-group-append">
      <button class="btn btn-primary dropdown-toggle" type="button" onclick="$('#searchdropdownmenu').toggle()"
          aria-haspopup="true" aria-expanded="false">Sort
      </button>
      <div id="searchdropdownmenu" class="dropdown-menu" style="right: 0;left: auto;">
        <a class="dropdown-item" onclick="sortItems('createdat', 0)">Sort by update
          decending</a>
        <a class="dropdown-item" onclick="sortItems('createdat', 1)">Sort by update</a>
        <a class="dropdown-item" onclick="sortItems('name', 0)">Sort by name</a>
        <a class="dropdown-item" onclick="sortItems('name', 1)">Sort by name
          decending</a>
      </div>
    </div>
  </div>
</form>

<script>
  function sortBy(key, asc) {
    return ((a, b) => {
      var valA = $(a).data(key);
      var valB = $(b).data(key);
      if (valA < valB) {
        return asc ? -1 : 1;
      }

      if (valA > valB) {
        return asc ? 1 : -1;
      }

      return 0;
    });
  }

  function findString(str) {
    var strFound;
    strFound = self.find(str);
    if (strFound && self.getSelection && !self.getSelection().anchorNode) {
      strFound = self.find(str);
    }

    if (!strFound) {
      strFound = self.find(str, 0, 1);
      while (self.find(str, 0, 1)) continue;
    }

    if (!strFound) alert(`String '${str}' not found!`)
    return;
  };

  //search btn bind
  document.getElementById('f1').onsubmit = function () {
    findString(this.t1.value);
    return false;
  };

  //sort
  function sortItems(key, asc) {
    sortElements($('#browseCardBody'), key, asc);
    sortElements($('#listTable'), key, asc);
    $('#searchdropdownmenu').hide();
  }

  function sortElements(el, key, asc) {
    el.html(el.find('.listitem').sort(sortBy(key, asc)));
  }

</script>