<script>
  $(document).ready(function () {
    console.log('ONLOAD settings');
    if (remote.getGlobal('currentConfiguration').autoMount) {
      $('#customSwitch1').prop("checked", true);
    }
    $('#customSwitch1').on('change.bootstrapSwitch', function (e) {
      ipcRenderer.send('change_config', {key: 'autoMount', val: e.target.checked});
    });

    $('#cfgSection').val(remote.getGlobal('currentConfiguration').cfgSection);
    $('#cfgSection').on('change', function (e) {
      ipcRenderer.send('change_config', {key: 'cfgSection', val: e.target.value});
    });
  });
</script>

<div class="card text-white bg-primary">
  <div class="card-header">
    <h2 class="">Settings</h2>
  </div>
  <div class="card-body">
    <div class="card-text col-6">
      <div class="form-group">
        <label for="cfgSection">Select rclone mirror:</label>
        <select class="form-control" id="cfgSection">
          <option value="VRP-mirror02">VRP-mirror02</option>
          <option value="VRP-mirror03">VRP-mirror03</option>
          <option value="VRP-mirror06">VRP-mirror06</option>
          <option value="VRP-mirror09">VRP-mirror09</option>
          <option value="VRP-mirror10">VRP-mirror10</option>
          <option value="VRP-mirror12">VRP-mirror12</option>
          <option value="VRP-mirror13">VRP-mirror13</option>
          <option value="VRP-mirror16">VRP-mirror16</option>
        </select>
      </div>

      <div class="form-check">
        <label for="customSwitch1" class="form-check-label">
          <input class="form-check-input" type="checkbox" id="customSwitch1">
          Automatically mount drive on startup (if not already mounted)
        </label>
      </div>
    </div>
  </div>
</div>

