<div class="card text-light bg-primary">
  <div class="card-header">
    <h2 class="mb-0"><i class="fa fa-bug"></i> Device Tweaks</h2>
  </div>
  <div class="card-body">
    <div class="card-text container">
      <div class="alert alert-warning"><small>
        <i class="fa fa-exclamation-triangle"></i>
        WARNING: All changes your own risk. Some of this tweaks may reset to default when you restart your headset
      </small></div>
      <div class="card bg-primary mb-1">
        <div class="card-header">Tools:</div>
        <div class="card-body">
          <div class="form-group">
            <a id="scrcpyCfg" class="adbdev btn btn-primary">
              <i class="fa fa-share-square"></i> Screen share
            </a>
            <a id="enableMTP" class="adbdev btn btn-primary" title="mount device as usb storage">
              <i class="fa fa-plug"></i> Switch USB mode to MTP
            </a>
            <a id="rebootDevice" class="adbdev btn btn-danger">
              <i class="fa fa-refresh"></i> Reboot device
            </a>
          </div>

          <div class="form-group">
            <label class="mb-1" for="mp_name">
              <h6 class="card-title mb-0">Global multiplayer name</h6>
              <small class="card-text">
                Will not change for already installed apps
              </small>
            </label>
            <input id="mp_name" class="adbdev form-control" value="" />
          </div>


          <div class="form-check mb-3">
            <label class="mb-1" for="guardian_pause" class="form-check-label">
              <input class="adbdev form-check-input" type="checkbox" id="guardian_pause">
              Pause the guardian(temporary disable it)
            </label>
          </div>
        </div>
      </div>

      <div class="card bg-primary mb-1">
        <div class="card-header">
          FW Update:
        </div>
        <div class="card-body">
          <div class="alert alert-info">
            <small>
              Reboot to bootloader.
              <br/>Then go into device and select the "firmware update" option using the volume buttons to move the selection, and power button to select.
              <br/>After that sideloade update.zip
            </small>
          </div>
          <div class="form-group mb-4">
            <label for="updateFwPath">Path to update.zip:</label>
            <div class="input-group mb-2">
              <input id="updateFwPath" class="form-control" value="" />
              <a class="btn btn-primary" id="updateFwPathBtn">Browse</a>
            </div>
            <a id="rebootBootloader" class="adbdev btn btn-danger">
              <i class="fa fa-refresh"></i> Reboot to bootloader
            </a>
            <a id="sideloadeFw" class="adbdev btn btn-warning">
              <i class="fa fa-download"></i> Sideloade update.zip
            </a>
          </div>

        </div>
      </div>


      <div class="card bg-primary mb-1">
        <div class="card-header">Snapshots:</div>
        <div class="card-body">
          <!-- <div class="form-group">
            <a id="pullScreenshots" class="adbdev btn btn-primary">
              <i class="fa fa-download"></i> Grub the Screenshots
            </a>
            <a id="pullVideoshots" class="adbdev btn btn-primary">
              <i class="fa fa-download"></i> Grub the Videoshots
            </a>
          </div>
          <div class="form-check mb-3">
            <label class="mb-1" for="snapshotsDelete" class="form-check-label">
              <input class="adbdev form-check-input" type="checkbox" id="snapshotsDelete">
              Clear from device after pulling
            </label>
          </div>
          <hr/> -->
          <div class="form-group mb-3">
            <label class="mb-1" for="cres">
              <h6 class="card-title mb-0">Set Screenshots Size</h6>
              <small class="card-text">This changes the resolution of screenshots on the Quest
              </small>
            </label>
            <select class="adbdev custom-select" id="cres">
              <option value="640x480">640x480</option>
              <option value="1280x720">1280x720</option>
              <option value="1920x1080">1920x1080</option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label class="mb-1" for="vres">
              <h6 class="card-title mb-0">Set Video Capture Size</h6>
              <small class="card-text">This changes the resolution of captured videos on the Quest</small>
            </label>
            <select class="adbdev custom-select" id="vres">
              <option value="1024">1024</option>
              <option value="1536">1536</option>
            </select>
          </div>
          <!-- <div class="form-group mb-3">
            <label class="mb-1" for="svb">
              <h6 class="card-title mb-0">Capture Video Bitrate ( Go Only )</h6>
              <small class="card-text">This will increase the quality of captured videos on Oculus Go.
              </small>
            </label>
            <select class="adbdev custom-select" id="svb">
              <option value="5000000">5Mbps</option>
              <option value="15000000">15Mbps</option>
              <option value="25000000">25Mbps</option>
            </select>
          </div> -->
          <div class="form-check mb-3">
            <label class="mb-1" for="frc" class="form-check-label">
              <input class="adbdev form-check-input" type="checkbox" id="frc">
              Full rate capture for videos recorded i.e. 60/72fps rather than 30fps.
            </label>
          </div>
        </div>
      </div>


      <div class="card bg-primary mb-1">
        <div class="card-header">Graficaly tweaks:</div>
        <div class="card-body">
          <div class="form-group mb-3">
            <label class="mb-1" for="gRR">
              <h6 class="card-title mb-0">Refresh Rate</h6>
              <small class="card-text">This will allow you to change to 90Hz refresh rate for 90fps support in games on Quest 2.
                <br/>
                WARNING: This does not work in all games, and does not work with Oculus Link. This setting may also reset to default when you restart your headset. You may need to press the power button twice to turn the screen off and on to enable this setting for apps that dont have it natively enabled.
              </small>
            </label>
            <select class="adbdev custom-select" id="gRR">
              <option value="72">default(72 Hz)</option>
              <option value="60">60 Hz</option>
              <option value="72">72 Hz</option>
              <option value="90">90 Hz</option>
              <option value="120">120 Hz</option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label class="mb-1" for="gCA">
              <h6 class="card-title mb-0">Chromatic Aberration</h6>
            </label>
            <select class="adbdev custom-select" id="gCA">
              <option value="-1">by app</option>
              <option value="1">on</option>
              <option value="0">off</option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label class="mb-1" for="gFFR">
              <h6 class="card-title mb-0">FFR(Fixed Foveated Rendering) level</h6>
              <small class="card-text">
                This will change how the view is rendered in the outer edges of the viewscreen for each eye. Higher is better performance, lower is better quality. This gets reset when you reboot the device.
              </small>
            </label>
            <select class="adbdev custom-select" id="gFFR">
              <option value="2">default(medium)</option>
              <option value="0">off</option>
              <option value="1">low</option>
              <option value="2">medium</option>
              <option value="3">high</option>
              <option value="4">high top</option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label class="mb-1" for="gSSO">
              <h6 class="card-title mb-0">Default Texture Size</h6>
              <small class="card-text">
                This will change how high quality some of the in game textures are rendered at.
              </small>
            </label>
            <select class="adbdev custom-select" id="gSSO">
              <option value="1440x1584">default - Quest2 (1440x1584)</option>
              <option value="1216x1344">default - Quest1 (1216x1344)</option>
              <option value="1024x1024">default - Go (1024x1024)</option>
              <option value="512x563">512x563</option>
              <option value="768x845">768x845</option>
              <option value="1024x1127">1024x1127</option>
              <option value="1280x1408">1280x1408</option>
              <option value="2048x2253">2048x2253</option>
              <option value="1440x1584">1440x1584</option>
            </select>
          </div>
          <div class="row">
            <div class="form-group mb-3 col-6">
              <label class="mb-1" for="CPU">
                <h6 class="card-title mb-0">Set CPU level</h6>
                <small class="card-text">
                  This can improve performance for 2D apps & games.
                </small>
              </label>
              <select class="adbdev custom-select" id="CPU">
                <option value="2">level 2</option>
                <option value="4">level 4</option>
              </select>
            </div>
            <div class="form-group mb-3 col-6">
              <label class="mb-1" for="GPU">
                <h6 class="card-title mb-0">Set GPU level</h6>
                <small class="card-text">
                  This can improve performance for 2D apps & games.
                </small>
              </label>
              <select class="adbdev custom-select" id="GPU">
                <option value="2">level 2</option>
                <option value="4">level 4</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>{
  console.log('ONLOAD tweaks');
  const TWEAKS_KEYS = [
    'mp_name', 'cres', 'vres', 'gRR', 'gCA', 'gFFR', 'gSSO', 'CPU', 'GPU'
  ];
  const TWEAKS_CHECKBOXES = [
    'guardian_pause', 'frc'
  ];

  for (const key of TWEAKS_KEYS) {
    ipcRenderer.send('device_tweaks', { cmd: 'get', key });
  }
  for (const key of TWEAKS_CHECKBOXES) {
    ipcRenderer.send('device_tweaks', { cmd: 'get', key });
  }

  ipcRenderer.removeAllListeners('device_tweaks');
  ipcRenderer.on('device_tweaks', (event, arg) => {
    // console.log('device_tweaks ! ', arg);
    if (arg.cmd == 'get') {
      for (const key of TWEAKS_KEYS) {
        if (arg[key]) $id('' + key).val(arg[key]);
      }

      for (const key of TWEAKS_CHECKBOXES) {
        if (arg[key]) $id('' + key).prop('checked', arg[key] == '1');
      }
    }

    if (arg.cmd == 'set') {
      for (const key of TWEAKS_KEYS) {
        if (typeof arg[key] != 'undefined') $id('' + key).addClass('is-valid');
      }
    }
  });

  for (const key of TWEAKS_KEYS) {
    $id(key).on('change', function ({ target }) {
      $(target).removeClass('is-valid');
      ipcRenderer.send('device_tweaks', { cmd: 'set', [key]: target.value });
    });
  }

  for (const key of TWEAKS_CHECKBOXES) {
    $id(key).on('change.bootstrapSwitch', ({ target }) => {
      ipcRenderer.send('device_tweaks', {cmd: 'set', [key]: target.checked});
    });
  }


  if (remote.getGlobal('currentConfiguration').snapshotsDelete) {
    $id('snapshotsDelete').prop('checked', true);
  }
  $id('snapshotsDelete').on('change.bootstrapSwitch', (e) => {
    ipcRenderer.send('change_config', {key: 'snapshotsDelete', val: e.target.checked});
  });


  ipcRenderer.removeAllListeners('cmd_sended');
  ipcRenderer.on('cmd_sended', (event, arg) => {
    alert(`Command sended: \n ${arg.success}`);
  })

  $id('enableMTP').on('click', function (e) {
    ipcRenderer.send('enable_mtp', '');
  });
  $id('scrcpyCfg').on('click', function (e) {
    $id('scrcpyModal').modal('show');
  });
  $id('rebootDevice').on('click', function (e) {
    ipcRenderer.send('reboot_device', '');
  });
  $id('rebootBootloader').on('click', function (e) {
    ipcRenderer.send('reboot_bootloader', '');
  });
  $id('sideloadeFw').on('click', function (e) {
    ipcRenderer.send('sideload_update', $id('updateFwPath').val());
  });

  $id('updateFwPathBtn').on('click', updateFwPath);

  async function updateFwPath() {
    $id('updateFwPath').removeClass('is-valid');
    const file = await dialog.showOpenDialog(null, {
      properties: ['openFile'],
      title: 'Update.zip path',
      message: 'Browse to update.zip',
      filters: [{
        name: 'Zip', extensions: ['zip'],
      }],
    });
    if (file.canceled) return;

    const val = file.filePaths[0];
    $id('updateFwPath')
      .val(val)
      .addClass('is-valid');
    return val;
  }

}</script>