.browse-file,
.browse-folder,
a { cursor: pointer; }

.card-header {
  padding: .4rem 0.75rem;
}
.btn-floating, [class*="btn-outline-"].btn-floating {
  border-radius: 50px;
  position: relative;
}
.btn {
  text-shadow: none;
  font-weight: bold;
}
.btn-md {
  padding: .4rem .75rem;
}
.btn-success {
  background: #7C4;
}
.btn-success:hover {
  background: #46ba46;
}
.btn-danger {
  background: #ec4d49;
}
.btn-danger:hover {
  background: #e8241f;
}
.btn-info {
  background: #49b;
}
.btn-info:hover {
  background: #28b;
}
.badge {
  text-shadow: none;
}
.badge-success {
  background: #5a4;
}
.alert-warning {
  background-color: #b80;
}
.alert-info {
  background-color: #28b;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 120px;
}

pre {
  margin: 5pt;
  padding: 0;
  overflow: visible;
}

.modal { overflow: auto !important; }

.modal-content {
  box-shadow: 0px 0px 20pt black;
}

.text-center li {
  text-align: left;
}

.table-hover tbody tr:hover {
    background-color: rgba(255,255,255,0.25);
}


.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-align: center;
  transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.ribbon-green {
  background-color: #8b4;
}
.ribbon-yellow {
  background-color: #bb4;
}
.ribbon-red {
  background-color: #b44;
}

#backToTop {
  position: fixed;
  width: 52px;
  height: 52px;
  bottom: 20pt;
  left: 20pt;
  padding-top: 10px;
  display: none;
}

/*html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}*/

/*.fixed_bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #272b30;
}*/

.content_container {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content_container .sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1010;
}

#topbar {
  background: #272b30;
}

#device_infoDiv {
  background: #272b30;
  padding: 2px 20px;
}

#mainbody {
  /*margin-top: 110px;*/
  padding: 0 20px;
  flex:1;
}

.listitem.badge {
  max-width:100%;
  width:100%;
  flex:auto;
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
  white-space:normal;
  font-size:100%;
  line-height:18pt;
}

#sideloadQueueModal.fade .modal-dialog {
  transform: translate(45%, 45%) scale(0.1);
}
#sideloadQueueModal.show .modal-dialog {
  transform: none;
}
#sideloadQueueModal .modal-dialog {
  min-width: 900px;
  max-width: 100%;
  width: 90%;
  bottom: 20pt;
  position: fixed;
  right: 20pt;
  margin: 0;
}


#showQueue {
  position: fixed;
  width: 52px;
  height: 52px;
  bottom: 20pt;
  right: 20pt;
  padding-top: 10px;
  display: none;
}

#sideloadQueueModal table {
  text-align: center;
  font-size: 8pt;
}
#sideloadQueueModal td:first-child {
  text-align: left;
  /*min-width: 30%;*/
}

#sideloadQueueModal .modal-body {
  padding: 0;
  height: 300pt;
  overflow: auto;
  border-top: 1px solid rgba(0,0,0,0.4);
}

#sideloadQueueModal th {
  background: #32383E;
  position: sticky;
  top: -1px;
}

.table td,
.table th,
.table thead th {
  vertical-align: middle;
  border-bottom: 1px solid rgba(0,0,0,.4);
  border-top: none;
}

html {
  overflow-y:  scroll;
}

 /* width */
::-webkit-scrollbar {
  width: 6pt;
  height: 6pt;
}
/* Track */
::-webkit-scrollbar-track {
  background: #bbb;
  border: 1px solid #666;
  border-radius: 4px;
}
::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;

  border: 1px solid #666;
  border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border: 1px solid #666;
  border-radius: 4px;
}