.browse-file,
.browse-folder,
a { cursor: pointer; }

.card-header {
  padding: .4rem 0.75rem;
}
.btn-floating, [class*="btn-outline-"].btn-floating {
  border-radius: 50%;
  position: relative;
}
.btn {
  text-shadow: none;
  font-weight: bold;
}
.btn-md {
  padding: .4rem .75rem;
}
.btn-success {
  background: #7C4;
}
.btn-success:hover {
  background: #46ba46;
}
.btn-danger {
  background: #ec4d49;
}
.btn-danger:hover {
  background: #e8241f;
}
.btn-info {
  background: #49b;
}
.btn-info:hover {
  background: #28b;
}
.badge {
  text-shadow: none;
}
.badge-success {
  background: #5a4;
}
.alert-warning {
  background-color: #b80;
}
.alert-info {
  background-color: #28b;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 120px;
}

pre {
  margin: 5pt;
  padding: 0;
}

.modal { overflow: auto !important; }

.modal-content {
  box-shadow: 0px 0px 20pt black;
}

.text-center li {
  text-align: left;
}

.table-hover tbody tr:hover {
    background-color: rgba(255,255,255,0.25);
}


.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-align: center;
  transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.ribbon-green {
  background-color: #8b4;
}
.ribbon-yellow {
  background-color: #bb4;
}
.ribbon-red {
  background-color: #b44;
}

#backToTop {
  position: fixed;
  width: 52px;
  height: 52px;
  bottom: 20px;
  left: 30px;
  padding-top: 10px;
  display: none;
}

/*html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}*/

.fixed_bar {
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:1000000;
  background-color:rgb(39, 43, 48);
}

#mainbody {
  margin-top:120px;
}